@media (max-width:320px){
	.beauty-nav{
		width: 60%;
		margin-left: 15%;
	}
}

@media (min-width:321px) and (max-width:376px){
	.beauty-nav{
		width: 60%;
		margin-left: 40px;
	}
}

@media (min-width:377px) and (max-width:426px){
	.beauty-nav{
		width: 60%;
		margin-left: 50px;
	}
}

@media (min-width:426px) and (max-width:768px){
	.beauty-nav{
		width: 50%;
		margin-left: 5rem;
	}
}

@media (min-width:769px) and (max-width:1024px){
	.beauty-nav{
		width: 50%;
		margin-left: 10rem;
	}
}

.menu{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
}