@media (max-width:320px){
	.beauty-nav{
		width: 60%;
		margin-left: 40px;
	}
}

@media (min-width:321px) and (max-width:376px){
	.beauty-nav{
		width: 60%;
		margin-left: 55px;
	}
}

@media (min-width:377px) and (max-width:426px){
	.beauty-nav{
		width: 60%;
		margin-left: 65px;
	}
}

@media (min-width:426px) and (max-width:769px){
	.beauty-nav{
		width: 50%;
		margin-left: 10rem;
	}
}

@media (min-width:769px) and (max-width:1024px){
	.beauty-nav{
		width: 50%;
		margin-left: 10rem;
	}
}