.App {
  text-align: center;
}
.producto{
	width: 80%;
	margin-bottom: 1rem;
}

.productoImg{
	height: 15rem;
}

.paginaProductos{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.contenidoProducto{
	height:8rem;
}

.productos{
	margin-bottom: 10rem;
}