@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}
.producto {
  width: 80%;
  margin-bottom: 1rem;
}

.productoImg {
  height: 15rem;
}

.paginaProductos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenidoProducto {
  height: 8rem;
}

.productos {
  margin-bottom: 10rem;
}

.disponible {
  height: 1rem;
  margin-left: 0.5rem;
}

.disponibilidad {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.puntos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.punto {
  height: 30rem;
  margin-bottom: 1rem;
}

.card {
  width: 50%;
}

.marcasPortada {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marca1 {
  margin-top: 1rem;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.computadora-container {
  display: none; /* Por defecto, oculto */
}

@media (min-width: 600px) {
  .computadora-container {
    display: block; /* Mostrar el contenedor después de los 700px */
  }
}

