@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');
body{
	font-family: 'Montserrat Alternates', sans-serif;
}

@media(max-width:500px){
	.inicio{
		width: 100vw;
	}


	.button{
		background-color:#C92C39;
		color: white;
		width: 60vw;
		font-size: 1.5rem;
		border: 2px solid #C92C39;
		margin-top: 5%;
	}

	.mt{
		margin-top: 5%;
	}

	.lanzamientos{
		margin-top: 10%;
	}

	.producto1{
		width: 50%;
		margin-left: 25%;
	}

	.boxProduct{
		display: flex;
		flex-direction: column;
		width: 50%;
		margin-left: 25%;
	}

	.button1{
		background-color: #C92C39;
		color: white;
		font-size: 1.5rem;
		border: 2px solid #C92C39;
	}

	.precio{
		color: black;
		font-weight: 800;
	}

	.title{
		color: rgb(0, 0, 0);
		font-weight: 750;
	}

	.mt1{
		margin-top: 10%;
	}

	.red{
		color: #C92C39;
	}

	.white{
		color: rgb(0, 0, 0);
	}

	.nosotros{
		background-color: #FFCACA;
		padding-top: 5%;
		color: white;
	}

	.mb{
		margin-bottom: 5%;
	}

	.mt2{
		margin-top: 20%;
	}

	.wrap{
		display:flex;
		flex-wrap: wrap;
		justify-content: space-around;
		
	}

	.logoFooter{
		width: 70%;
	}

	.textoFooter{
		font-size: 100%;
		text-align: center;
		margin-top: 5%;
	}

	.box{
		width: 40%;
		margin-top: 10%;
	}

	.box2{
		margin-left: 10%;
	}

	.box4{
		margin-left: 15%;
	}
}