@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');
body,h1,h2,h3,p,button{
	font-family: 'Montserrat Alternates', sans-serif;
}
@media(max-width:500px){

	.logoMenu{
		width: 30vw;
		margin-left: 25%;
		margin-bottom: 1%;
	}

	.modal{
		margin-left: -1%;
		margin-top: -1%;
		/* background-color: #C92C39; */
	}


	.textoModal{
		font-size: 1rem;
		margin-left: 2%;
	}

	.x{
		width: 4vw;
		margin-left: 80%;		
	}

	.flex1{
		display: flex;
		flex-direction: column;
		background-color: #C92C39;
	}

	.inicio{
		width: 100vw;
	}


	.button{
		background-color:#C92C39;
		color: white;
		width: 60vw;
		font-size: 1.5rem;
		border: 2px solid #C92C39;
		margin-top: 5%;
		font-family: 'Montserrat Alternates', sans-serif;

	}

	.mt{
		margin-top: 5%;
	}

	.lanzamientos{
		margin-top: 10%;
	}

	.producto1{
		width: 50%;
		margin-left: 25%;
	}

	.boxProduct{
		display: flex;
		flex-direction: column;
		width: 50%;
		margin-left: 25%;
	}

	.button1{
		background-color: #C92C39;
		color: white;
		font-size: 1.5rem;
		border: 2px solid #C92C39;
		font-family: 'Montserrat Alternates', sans-serif;

	}

	.precio{
		color: black;
		font-weight: 800;
	}

	.title{
		color: rgb(0, 0, 0);
		font-weight: 750;
	}

	.mt1{
		margin-top: 10%;
	}

	.red{
		color: #C92C39;
	}

	.white{
		color: rgb(255, 255, 255);
	}

	.nosotros{
		background-color: #FFCACA;
		padding-top: 5%;
		color: white;
	}

	.mb{
		margin-bottom: 5%;
	}

	.mt2{
		margin-top: 20%;
	}

	.wrap{
		display:flex;
		flex-wrap: wrap;
		justify-content: space-around;
		
	}

	.logoFooter{
		width: 70%;
	}

	.textoFooter{
		font-size: 100%;
		text-align: center;
		margin-top: 5%;
	}

	.box{
		width: 40%;
		margin-top: 10%;
	}

	.box2{
		margin-left: 10%;
	}

	.box4{
		margin-left: 15%;
	}

	.portada{
		width: 100vw;
	}

	.accordion{
		margin-top: 10%;
	}

	.start{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 5%;
		margin-top: 10%;
	}

	.black{
		color: black;
	}
	
	.around{
		width: 100vw;
		display: flex;
	}

	.mr{
		margin-right: 2%;
	}

	.dineroPng{
		width: 11vw;
	}

	.final{
		width: 50vw;
		font-size: .7rem;
		margin-top: 6%;
		font-weight: 800;
		margin-left: 25%;
		justify-content: center;
	}

	.pngFooter{
		width: 12vw;
	}

	.redes1{
		width: 90vw;
		display: flex;
		justify-content: flex-start;
	}
}